openapi: 3.2.0
info:
  title: Monnify Reserved Accounts Limit Profiles API
  description: 'Provision permanent NUBAN virtual accounts (dedicated and invoice variants) for customers and merchants. V2 endpoints replace earlier /api/v1 routes for new integrations; transaction listing remains under /api/v1.

    '
  version: '2.0'
  contact:
    name: Monnify Developer Support
    url: https://developers.monnify.com
servers:
- url: https://api.monnify.com
  description: Production
- url: https://sandbox.monnify.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Limit Profiles
  description: Per-account transaction limit profiles.
paths:
  /api/v1/limit-profiles:
    post:
      summary: Monnify Create Limit Profile
      description: Define a per-transaction and daily cap profile to apply to reserved accounts.
      operationId: createLimitProfile
      tags:
      - Limit Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitProfile'
      responses:
        '200':
          description: Limit profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    $ref: '#/components/schemas/LimitProfile'
    get:
      summary: Monnify List Limit Profiles
      description: Paginated list of limit profiles for the merchant.
      operationId: listLimitProfiles
      tags:
      - Limit Profiles
      responses:
        '200':
          description: Limit profiles page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: '#/components/schemas/LimitProfile'
    put:
      summary: Monnify Update Limit Profile
      operationId: updateLimitProfile
      tags:
      - Limit Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitProfile'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    $ref: '#/components/schemas/LimitProfile'
components:
  schemas:
    LimitProfile:
      type: object
      properties:
        limitProfileCode:
          type: string
        limitProfileName:
          type: string
        singleTransactionValue:
          type: number
        dailyTransactionVolume:
          type: integer
        dailyTransactionValue:
          type: number
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
