openapi: 3.2.0
info:
  title: Monnify Disbursements Wallet API
  description: 'Initiate single and bulk NIP transfers to Nigerian bank accounts. As of April 2026 the disbursement flow requires Name Inquiry first then a Disbursement Request that carries the verified beneficiary account name. A sender-information object has been supported on initiation since October 2025. Two-factor authorization with OTP applies to single transfers.

    '
  version: '2.0'
  contact:
    name: Monnify Developer Support
    url: https://developers.monnify.com
servers:
- url: https://api.monnify.com
  description: Production
- url: https://sandbox.monnify.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Wallet
  description: Disbursement wallet balance and metadata.
paths:
  /api/v2/disbursements/wallet-balance:
    get:
      summary: Monnify Get Disbursement Wallet Balance
      operationId: getWalletBalance
      tags:
      - Wallet
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
          description: Merchant disbursement wallet account number.
      responses:
        '200':
          description: Wallet balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      availableBalance:
                        type: number
                      ledgerBalance:
                        type: number
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
