openapi: 3.2.0
info:
  title: Monnify Direct Debit Debits API
  description: 'Create, activate, and debit recurring NIBSS direct-debit mandates against a customer''s bank account. Smart routing introduced in September 2025 uses TeamApt as the primary processor with NIBSS as fallback. As of April 2026 the debit endpoint accepts an incomeSplit object to settle a debited amount across multiple sub-accounts.

    '
  version: '1.0'
  contact:
    name: Monnify Developer Support
    url: https://developers.monnify.com
servers:
- url: https://api.monnify.com
  description: Production
- url: https://sandbox.monnify.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Debits
  description: Initiate debits against an active mandate.
paths:
  /api/v1/direct-debit/mandate/debit:
    post:
      summary: Monnify Debit Direct Debit Mandate
      description: Debit a configured amount against an active mandate. Supports incomeSplit (April 2026).
      operationId: debitMandate
      tags:
      - Debits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DebitMandateRequest'
      responses:
        '200':
          description: Debit accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DebitEnvelope'
components:
  schemas:
    DebitMandateRequest:
      type: object
      required:
      - mandateCode
      - amount
      - debitReference
      - narration
      properties:
        mandateCode:
          type: string
        amount:
          type: number
        debitReference:
          type: string
        narration:
          type: string
        incomeSplit:
          type: array
          description: Optional split of the debited amount across sub-accounts (April 2026).
          items:
            type: object
            properties:
              subAccountCode:
                type: string
              splitPercentage:
                type: number
              splitAmount:
                type: number
              feeBearer:
                type: boolean
    DebitEnvelope:
      type: object
      properties:
        requestSuccessful:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: string
        responseBody:
          type: object
          properties:
            mandateCode:
              type: string
            debitReference:
              type: string
            amount:
              type: number
            transactionReference:
              type: string
            status:
              type: string
              enum:
              - SUCCESS
              - FAILED
              - PENDING
            dateCreated:
              type: string
              format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
