openapi: 3.1.0
info:
  title: Moniepoint POS Push Payment Authentication Banks API
  description: 'Push payment-request flow for Moniepoint POS terminals. ISV partners push an authenticated payment request to a registered terminal serial number; the merchant taps to accept and the terminal completes a card or bank-transfer collection routed through Moniepoint''s acquiring rails. API client credentials (client id and client secret) are issued from the Moniepoint Business dashboard.

    '
  version: '1.0'
  contact:
    name: Moniepoint POS Developer Support
    url: https://teamapt.atlassian.net/wiki/spaces/EI
servers:
- url: https://pos.moniepoint.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Banks
  description: NIP bank directory and account validation.
paths:
  /api/v1/sdk/transactions/banks:
    get:
      summary: Monnify List NIP Banks
      description: Returns the list of supported Nigerian banks with bank codes.
      operationId: listBanks
      tags:
      - Banks
      responses:
        '200':
          description: Bank list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        ussdTemplate:
                          type: string
                        nibssBankCode:
                          type: string
  /api/v1/disbursements/account/validate:
    get:
      summary: Monnify Validate Bank Account (Name Inquiry)
      description: Return the registered account name for a bank account number.
      operationId: validateBankAccount
      tags:
      - Banks
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
      - name: bankCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account holder name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      accountNumber:
                        type: string
                      accountName:
                        type: string
                      bankCode:
                        type: string
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic auth using API client id and client secret from the Moniepoint Business dashboard.
