openapi: 3.2.0
info:
  title: Monnify Disbursements Bulk Transfers API
  description: 'Initiate single and bulk NIP transfers to Nigerian bank accounts. As of April 2026 the disbursement flow requires Name Inquiry first then a Disbursement Request that carries the verified beneficiary account name. A sender-information object has been supported on initiation since October 2025. Two-factor authorization with OTP applies to single transfers.

    '
  version: '2.0'
  contact:
    name: Monnify Developer Support
    url: https://developers.monnify.com
servers:
- url: https://api.monnify.com
  description: Production
- url: https://sandbox.monnify.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Bulk Transfers
  description: Initiate and query bulk transfer batches.
paths:
  /api/v2/disbursements/bulk:
    post:
      summary: Monnify Initiate Bulk Transfer
      description: Initiate a batch of transfers in one call.
      operationId: initiateBulkTransfer
      tags:
      - Bulk Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTransferRequest'
      responses:
        '200':
          description: Bulk transfer accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTransferEnvelope'
  /api/v2/disbursements/bulk/summary:
    get:
      summary: Monnify Get Bulk Transfer Summary
      operationId: getBulkTransferSummary
      tags:
      - Bulk Transfers
      parameters:
      - name: batchReference
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bulk transfer summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTransferEnvelope'
  /api/v2/disbursements/bulk/{batchReference}/transactions:
    get:
      summary: Monnify List Bulk Transfer Items
      operationId: listBulkTransferItems
      tags:
      - Bulk Transfers
      parameters:
      - name: batchReference
        in: path
        required: true
        schema:
          type: string
      - name: pageNo
        in: query
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Bulk transfer items page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferPageEnvelope'
components:
  schemas:
    TransferPageEnvelope:
      type: object
      properties:
        requestSuccessful:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: string
        responseBody:
          type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/Transfer'
            number:
              type: integer
            size:
              type: integer
            totalElements:
              type: integer
            totalPages:
              type: integer
    Transfer:
      type: object
      properties:
        reference:
          type: string
        amount:
          type: number
        destinationAccountName:
          type: string
        destinationAccountNumber:
          type: string
        destinationBankCode:
          type: string
        currency:
          type: string
        status:
          type: string
          enum:
          - SUCCESS
          - FAILED
          - REVERSED
          - PENDING
          - OTP_EMAIL_DISPATCH
          - PENDING_AUTHORIZATION
        narration:
          type: string
        fee:
          type: number
        dateCreated:
          type: string
          format: date-time
    BulkTransferSummary:
      type: object
      properties:
        batchReference:
          type: string
        batchStatus:
          type: string
        totalAmount:
          type: number
        totalFee:
          type: number
        totalReceivedAmount:
          type: number
        totalCount:
          type: integer
        successfulCount:
          type: integer
        failedCount:
          type: integer
        pendingCount:
          type: integer
        dateCreated:
          type: string
          format: date-time
    BulkTransferRequest:
      type: object
      required:
      - title
      - batchReference
      - narration
      - sourceAccountNumber
      - transactionList
      properties:
        title:
          type: string
        batchReference:
          type: string
        narration:
          type: string
        sourceAccountNumber:
          type: string
        onValidationFailure:
          type: string
          enum:
          - BREAK
          - CONTINUE
        notificationInterval:
          type: integer
          description: Webhook batch notification interval as a percentage (10, 20, 50, 100).
        transactionList:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              reference:
                type: string
              narration:
                type: string
              destinationBankCode:
                type: string
              destinationAccountNumber:
                type: string
              destinationAccountName:
                type: string
              currency:
                type: string
                example: NGN
    BulkTransferEnvelope:
      type: object
      properties:
        requestSuccessful:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: string
        responseBody:
          $ref: '#/components/schemas/BulkTransferSummary'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
