openapi: 3.1.0
info:
  title: Moniepoint POS Push Payment Authentication Wallet API
  description: 'Push payment-request flow for Moniepoint POS terminals. ISV partners push an authenticated payment request to a registered terminal serial number; the merchant taps to accept and the terminal completes a card or bank-transfer collection routed through Moniepoint''s acquiring rails. API client credentials (client id and client secret) are issued from the Moniepoint Business dashboard.

    '
  version: '1.0'
  contact:
    name: Moniepoint POS Developer Support
    url: https://teamapt.atlassian.net/wiki/spaces/EI
servers:
- url: https://pos.moniepoint.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Wallet
  description: Disbursement wallet balance and metadata.
paths:
  /api/v2/disbursements/wallet-balance:
    get:
      summary: Monnify Get Disbursement Wallet Balance
      operationId: getWalletBalance
      tags:
      - Wallet
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
          description: Merchant disbursement wallet account number.
      responses:
        '200':
          description: Wallet balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      availableBalance:
                        type: number
                      ledgerBalance:
                        type: number
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic auth using API client id and client secret from the Moniepoint Business dashboard.
