openapi: 3.2.0
info:
  title: Monnify Disbursements Banks API
  description: 'Initiate single and bulk NIP transfers to Nigerian bank accounts. As of April 2026 the disbursement flow requires Name Inquiry first then a Disbursement Request that carries the verified beneficiary account name. A sender-information object has been supported on initiation since October 2025. Two-factor authorization with OTP applies to single transfers.

    '
  version: '2.0'
  contact:
    name: Monnify Developer Support
    url: https://developers.monnify.com
servers:
- url: https://api.monnify.com
  description: Production
- url: https://sandbox.monnify.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Banks
  description: NIP bank directory and account validation.
paths:
  /api/v1/sdk/transactions/banks:
    get:
      summary: Monnify List NIP Banks
      description: Returns the list of supported Nigerian banks with bank codes.
      operationId: listBanks
      tags:
      - Banks
      responses:
        '200':
          description: Bank list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                        ussdTemplate:
                          type: string
                        nibssBankCode:
                          type: string
  /api/v1/disbursements/account/validate:
    get:
      summary: Monnify Validate Bank Account (Name Inquiry)
      description: Return the registered account name for a bank account number.
      operationId: validateBankAccount
      tags:
      - Banks
      parameters:
      - name: accountNumber
        in: query
        required: true
        schema:
          type: string
      - name: bankCode
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Account holder name.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      accountNumber:
                        type: string
                      accountName:
                        type: string
                      bankCode:
                        type: string
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
