openapi: 3.1.0
info:
  title: Moniepoint POS Push Payment Authentication Settlements API
  description: 'Push payment-request flow for Moniepoint POS terminals. ISV partners push an authenticated payment request to a registered terminal serial number; the merchant taps to accept and the terminal completes a card or bank-transfer collection routed through Moniepoint''s acquiring rails. API client credentials (client id and client secret) are issued from the Moniepoint Business dashboard.

    '
  version: '1.0'
  contact:
    name: Moniepoint POS Developer Support
    url: https://teamapt.atlassian.net/wiki/spaces/EI
servers:
- url: https://pos.moniepoint.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Settlements
  description: Settlement batches and transactions reporting.
paths:
  /api/v1/transactions/find-by-settlement-reference:
    get:
      summary: Monnify Find Transactions By Settlement Reference
      description: List the transactions included in a single settlement payout.
      operationId: findTransactionsBySettlement
      tags:
      - Settlements
      parameters:
      - name: reference
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: Settlement transactions page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: '#/components/schemas/SettlementTransaction'
                      totalElements:
                        type: integer
                      totalPages:
                        type: integer
  /api/v1/settlements:
    get:
      summary: Monnify List Settlements
      operationId: listSettlements
      tags:
      - Settlements
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          default: 10
      - name: from
        in: query
        schema:
          type: string
          format: date
      - name: to
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Settlements page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: '#/components/schemas/Settlement'
                      totalElements:
                        type: integer
                      totalPages:
                        type: integer
components:
  schemas:
    SettlementTransaction:
      type: object
      properties:
        transactionReference:
          type: string
        amount:
          type: number
        fee:
          type: number
        netAmount:
          type: number
        paidOn:
          type: string
          format: date-time
    Settlement:
      type: object
      properties:
        settlementReference:
          type: string
        amount:
          type: number
        fee:
          type: number
        netAmount:
          type: number
        bankCode:
          type: string
        accountNumber:
          type: string
        accountName:
          type: string
        settlementStatus:
          type: string
          enum:
          - PENDING
          - COMPLETED
          - FAILED
        settledOn:
          type: string
          format: date-time
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic auth using API client id and client secret from the Moniepoint Business dashboard.
