openapi: 3.1.0
info:
  title: Moniepoint POS Push Payment Authentication Limit Profiles API
  description: 'Push payment-request flow for Moniepoint POS terminals. ISV partners push an authenticated payment request to a registered terminal serial number; the merchant taps to accept and the terminal completes a card or bank-transfer collection routed through Moniepoint''s acquiring rails. API client credentials (client id and client secret) are issued from the Moniepoint Business dashboard.

    '
  version: '1.0'
  contact:
    name: Moniepoint POS Developer Support
    url: https://teamapt.atlassian.net/wiki/spaces/EI
servers:
- url: https://pos.moniepoint.com
  description: Production
security:
- BasicAuth: []
tags:
- name: Limit Profiles
  description: Per-account transaction limit profiles.
paths:
  /api/v1/limit-profiles:
    post:
      summary: Monnify Create Limit Profile
      description: Define a per-transaction and daily cap profile to apply to reserved accounts.
      operationId: createLimitProfile
      tags:
      - Limit Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitProfile'
      responses:
        '200':
          description: Limit profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    $ref: '#/components/schemas/LimitProfile'
    get:
      summary: Monnify List Limit Profiles
      description: Paginated list of limit profiles for the merchant.
      operationId: listLimitProfiles
      tags:
      - Limit Profiles
      responses:
        '200':
          description: Limit profiles page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: '#/components/schemas/LimitProfile'
    put:
      summary: Monnify Update Limit Profile
      operationId: updateLimitProfile
      tags:
      - Limit Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitProfile'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestSuccessful:
                    type: boolean
                  responseMessage:
                    type: string
                  responseCode:
                    type: string
                  responseBody:
                    $ref: '#/components/schemas/LimitProfile'
components:
  schemas:
    LimitProfile:
      type: object
      properties:
        limitProfileCode:
          type: string
        limitProfileName:
          type: string
        singleTransactionValue:
          type: number
        dailyTransactionVolume:
          type: integer
        dailyTransactionValue:
          type: number
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic auth using API client id and client secret from the Moniepoint Business dashboard.
